<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Title</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/commonstyle.min.css" type="text/css" rel="stylesheet">
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue-resource.min.js" type="text/javascript"></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/dropload.min.js" type="text/javascript"></script>
</head>
<body>
<div id="app">
    <ul class="pic-list" id="pic-list">
        <li v-for="(item,index) in msgList"
            v-bind:class="{video_video2:item.style==8,video_video:item.style == 9,video_list3:item.style == 3,video_list:item.style == 6}">
            <a v-if="item.is_news == 6" v-bind:href="'https://m.qctt.cn'+item.jump_address" class="A ui-link"
               target="_self">
                <span class="pic"><img v-bind:src="item.image_url"></span>
                <p class="title">
                    {{item.title}}
                </p>
                <p class="txt">
                    <span class="date">{{item.origin}}</span>
                    <span class="date pubtime" v-if="item.CommuntCount">评论({{item.CommuntCount}})</span>
                </p>
            </a>
            <a v-else-if="item.style == 1" v-bind:href="'https://m.qctt.cn'+item.jump_address" class="A ui-link"
               target="_self">
                <span class="pic"><img v-bind:src="item.image_url"></span>
                <p class="title">
                    <!--<span class="zhiDing" v-if="item.is_top == 1">置顶</span>-->
                    <span v-if="item.aritcleType == 2" class="yuanChuang">原创</span>
                    <span v-else-if="item.aritcleType == 5" class="tuiJian">推荐</span>
                    <span v-else-if="item.aritcleType == 12" class="yuanChuang">争锋</span>
                    <span v-else-if="item.aritcleType == 1" class="tuiJian">热门</span>
                    {{item.title}}
                </p>
                <p class="txt">
                    <span class="date">{{item.origin}}</span>
                    <span class="date pubtime">{{item.publishTime}}</span>
                </p>
            </a>
            <a v-else-if="item.style == 5" v-bind:href="'https://m.qctt.cn'+item.jump_address" class="A ui-link"
               target="_self">
                <span class="pic"><img v-bind:src="item.image_url"></span>
                <p class="title"><span class="tuiGuang">推广</span>{{item.title}}</p>
                <p class="txt">
                    <span class="date">{{item.origin}}</span>
                    <span class="date pubtime">{{item.publishTime}}</span>
                </p>
            </a>

            <a v-else-if="item.style == 4" v-bind:href="'https://m.qctt.cn'+item.jump_address" target="_self"
               class="ui-link">
                <p class="word"><span class="tuiGuang">推广</span>{{item.title}} </p>
                <div class="video_list_img">
                    <img v-bind:src="item.link_image">
                    <span class="video_button"></span>
                    <span class="video_time"></span>
                </div>
                <p class="txt">
                    <span class="date">{{item.origin}}</span>
                    <span class="date pubtime">{{item.publishTime}}</span>
                </p>
            </a>

            <a v-else-if="item.style == 3" v-bind:href="'https://m.qctt.cn'+item.jump_address" target="_self"
               class="ui-link">
                <p class="word">
                    <span class="zhiDing" v-if="item.is_top == 1">置顶</span>
                    <span class="yuanChuang" v-else-if="item.articleType == 2">原创</span>
                    <span class="tuiJian" v-else-if="item.articleType == 5">推荐</span>
                    <span class="yuanChuang" v-else-if="item.articleType == 12">争锋</span>
                    <span class="tuiJian" v-else-if="item.articleType == 1">热门</span>
                    {{item.title}}
                </p>
                <div class="clearfix">
                    <img v-for="item2 in item.picUrlList" v-bind:src="item2">
                </div>
                <p class="txt">
                    <span class="date">{{item.origin}}</span>
                    <span class="date pubtime">{{item.publishTime}}</span>
                </p>
            </a>

            <a v-else-if="item.style == 13" v-bind:href="'https://m.qctt.cn'+item.jump_address" target="_self">
                <p class="word">
                    <span class="zhiBo">直播</span>
                    {{item.title}}
                </p>
                <div class="applive_img">
                    <img v-bint:src="item.image_url">
                </div>
            </a>

            <a v-else-if="item.style == 6" v-bind:href="'https://m.qctt.cn'+item.jump_address" target="_self"
               class="ui-link">
                <p class="word">
                    <span class="zhuanTi">专题</span>
                    {{item.title}}
                </p>
                <div class="video_list_img">
                    <img v-bind:src="item.image_url">
                    <span class="video_button"></span>
                    <span class="video_time"></span>
                </div>
                <p class="txt">
                    <span class="date pubtime">更新至第{{item.specialArticleNum}}篇</span>
                </p>
            </a>

            <a v-else-if="item.style == 9" v-bind:href="'https://m.qctt.cn'+item.jump_address" target="_self">
                <p class="word">
                    <span class="tuiGuang" v-if="item.is_news == 5">推广</span>
                    <span class="zhiDing" v-else-if="item.is_top == 1">置顶</span>
                    <span class="yuanChuang" v-if="item.articleType == 2">原创</span>
                    <span class="tuiJian" v-else-if="item.articleType == 5">推荐</span>
                    {{item.title}}
                </p>
                <div class="video_img">
                    <img v-if="item.is_news == 5" v-bind:src="item.link_image">
                    <img v-else v-bind:src="item.image_url">
                    <span class="video_play_button"></span>
                    <span class="video_time">{{item.lasting}}</span>
                </div>
                <p class="txt">
                    <span class="date">{{item.origin}}</span>
                    <span class="date pubtime" v-if="item.is_news == 5">{{item.read_count}}次播放</span>
                    <span class="date pubtime" v-else>{{item.read_number}}次播放</span>
                </p>
            </a>

            <a v-else-if="item.style == 8" v-bind:href="'https://m.qctt.cn'+item.jump_address" class="A ui-link"
               target="_self">
            <span class="pic">
            	<img v-bind:src="item.link_image">
            	<i class="video_time">{{item.lasting}}</i>
            </span>
                <p class="title">
                    {{item.title}}
                    <span class="tuiGuang" v-if="item.is_news == 5">推广</span>
                </p>
                <p class="txt">
                    <span class="date">{{item.origin}}</span>
                    <span class="date pubtime">{{item.publishTime}}</span>
                </p>
            </a>
        </li>
    </ul>
    <p v-show="noMore">没有更多数据了</p>
    <a href="javascript:;" class="sedRequest" @click="getMoreDate">请求</a>
</div>
<script src="js/myvue.js" type="text/javascript"></script>
<script>
	$(function(){
		// 页数
		var page = 0;
		// 每页展示10个
		var size = 10;

		// dropload
		$('#app').dropload({
			scrollArea : window,
			domUp : {
				domClass   : 'dropload-up',
				domRefresh : '<div class="dropload-refresh">↓下拉刷新-自定义内容</div>',
				domUpdate  : '<div class="dropload-update">↑释放更新-自定义内容</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中-自定义内容...</div>'
			},
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多-自定义内容</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中-自定义内容...</div>',
				domNoData  : '<div class="dropload-noData">暂无数据-自定义内容</div>'
			},
			loadUpFn : function(me){
//				$.ajax({
//					type: 'GET',
//					url: 'json/update.json',
//					dataType: 'json',
//					success: function(data){
//						var result = '';
//						for(var i = 0; i < data.lists.length; i++){
//							result +=   '<a class="item opacity" href="'+data.lists[i].link+'">'
//								+'<img src="'+data.lists[i].pic+'" alt="">'
//								+'<h3>'+data.lists[i].title+'</h3>'
//								+'<span class="date">'+data.lists[i].date+'</span>'
//								+'</a>';
//						}
//						// 为了测试，延迟1秒加载
//						setTimeout(function(){
//							$('.lists').html(result);
//							// 每次数据加载完，必须重置
//							me.resetload();
//							// 重置页数，重新获取loadDownFn的数据
//							page = 0;
//							// 解锁loadDownFn里锁定的情况
//							me.unlock();
//							me.noData(false);
//						},1000);
//					},
//					error: function(xhr, type){
//						alert('Ajax error!');
//						// 即使加载出错，也得重置
//						me.resetload();
//					}
//				});
                console.log(3333);
			},
			loadDownFn : function(me){
				page++;
				// 拼接HTML
				var result = '';
				$.ajax({
					type: 'GET',
					url: './data1.json',
					dataType: 'json',
					success: function(data){
						var arrLen = data.data.length;
						if(arrLen > 0){
//							console.log(data.data);
							vm.msgList.concat(data.data);
							console.log(vm.msgList);
						}else{
							// 锁定
							me.lock();
							// 无数据
							me.noData();
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							// 插入数据到页面，放到最后面
							$('.lists').append(result);
							// 每次数据插入，必须重置
							me.resetload();
						},1000);
					},
					error: function(xhr, type){
						alert('Ajax error!');
						// 即使加载出错，也得重置
						me.resetload();
					}
				});
			},
			threshold : 50
		});
	});
</script>
</body>
</html>